@charset "UTF-8";

/* ----------------------------------------------------------
  Reset
---------------------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

hr {
    margin: 2em 0;
    border: 1px solid #EEE;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

select {
    height: 1.5em;
    background-color: transparent;
}

.button-wrapper {
    margin: 1em 0;
    padding-left: 4em;
}

button {
    padding: 0 1em;
    text-align: center;
    background-color: #EEE;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #CCC;
}

textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #CCC;
}

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

body {
    margin: 10px auto;
    padding: 10px;
    max-width: 800px;
}

.main-grid {
    display: table;
    width: 100%;
    margin: 0 -5px;
    table-layout: fixed;
}

.main-grid > * {
    display: table-cell;
    padding: 0 5px;
    vertical-align: top;
}

/* ----------------------------------------------------------
  Elements
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.task-container__wrapper {
    z-index: 1;
    position: relative;
    margin: 1em 0;
    padding-left: 4em;
    overflow: hidden;
}

/* List
-------------------------- */

.tasks-container {
    z-index: 1;
    position: relative;
}

/* Item
-------------------------- */

li[data-item*="task-item"] {
    z-index: 1;
    position: relative;
    height: 3em;
    overflow: hidden;
}

li[data-item*="task-item"].sortable-ghost {
    opacity: 0.50;
}

li[data-item*="task-item"][data-duration="0"] {
    display: none;
}

li[data-item*="task-item"][data-duration="15"] {
    height: 3em;
}

li[data-item*="task-item"][data-duration="30"] {
    height: 6em;
}

li[data-item*="task-item"][data-duration="45"] {
    height: 9em;
}

.task-item__inner {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1px;
    padding: 0.1em 9em 0.1em 1.5em;
    border-radius: 0.5em;
    overflow: hidden;
    background: #F0F0F0;
    cursor: move;
}

.task-item__inner:after,
.task-item__inner:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0.4em;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #fff;
    border-width: 1px 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.task-item__inner:after {
    height: 0;
    border-width: 1px 0 0 0;
}

.task-item__inner [name="task_content"] {
    width: 100%;
    padding: 0.5em;
    background: transparent;
}

.task-item__inner [data-action="remove-task"] {
    z-index: 1;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 3em;
}

.task-item__inner [name="duration"] {
    z-index: 1;
    position: absolute;
    top: 0.5em;
    right: 3.5em;
    width: 4.5em;
}

/* Hours
-------------------------- */

.task-container__wrapper .hours-wrapper {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
}

.task-container__wrapper .hour {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.task-container__wrapper .hour-item {
    z-index: 1;
    position: relative;
    height: 12em;
    padding: 0 0.5em;
    border-top: 1px solid #DDD;
}

.task-container__wrapper .hour-item:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0;
    width: 2em;
    height: 1px;
    background-color: #DDD;
}

.task-container__wrapper .hour-item:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 0;
    width: 1.5em;
    height: 50%;
    border: 1px solid #DDD;
    border-width: 1px 0;
}
